*{
    margin:0;
    padding:0;
}


/* Header   */

.header-div{
    width:100%;
    height:60px;
    background-color:#ffd521;
    position:fixed;
    top:0;
    left:0;
    z-index:1;
}
.header-logo{
    position:absolute;
    display: flex;
}
.header-logo >p{
    margin:auto 10px;
    font-size:24px;
    color:red;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
}
.header-img{
    width:40px;
    padding:10px;
    margin-left:20px;
}
.header-nav{
    float:right;
    display:inline-flex;
    justify-content:space-between;
    list-style:none;

}
.header-nav > li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:20px;
    font-size:16px;
    font-weight:bold;
    margin-right: 25px;
}
.header-link{
    text-decoration: none;
    color:#e90505;
}


/* Footer */
.footer-div{
    display: flex;
    justify-content: space-between;
    height:20px;
    width:calc(100vw-30px);
    background-color:#ffd521;
    margin-top:10vh;
    padding:10px;
    font-size:14px;
}
.footer-text{
    padding:auto 20px ;
}
.footer-right{
    padding-right: 30px;
}

/* Home */
.home-div{
    height: 100vh;
    overflow: hidden;
}




/* About */
.about-div{
    background: #ff9090;
    width:100%;
}
.about-title{
    margin-top:60px;
    font-size:40px;
    font-weight:bold;
    color:rgb(46, 3, 3);
    text-align:center;
    padding-top:40px;
}
.about-title-2{
    margin:50px auto;
    font-size:40px;
    font-weight:bold;
    color:rgb(46, 3, 3);
    text-align:center;
    padding-top:40px;
}
.about-body{
    background: #ff9090;
    padding-top:40px;
}
.about-content{
    margin:10px auto;
    padding:50px 100px;
    background:#ffd521;
    width:50%;
    font-size:22px;
    border:5px solid red;  
}
.about-cards{
    width:80%;
    margin:auto;
}


/* Contact */
.contact-div{
    height: 100vh;
    overflow: hidden;
}


/* Card */
.card-header{
    background: white;
    width:300px;
    padding-top:20px;
    border:3px solid red;
    border-radius:12px;
    margin:20px;
}
.card-header:hover{
    background: #ffd521;
    transform: scale(1.1);
}

.card-title{
    background:#ffd521;
    padding:10px;
    border-end-end-radius:12px;
    border-end-start-radius:12px;
    text-align: center;
    font-size:18px;
    font-family: sans-serif;
}
.card-title:hover{
    background: rgb(246, 52, 52);
    font-weight: bold;
}